/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 4, 2024, 11:31:50 PM
    Author     : Hoa-Nguyen
*/
.overlay{
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 500;
}
.card-on
{

    background-color: #f0f0f0;
    position: fixed;
    top: 100px;
    right: 0;
    left: 0;
    bottom: 50px;
    height: 500px;
    width: 700px;
    z-index: 400;
    padding: 40px 100px 40px 100px;
    text-align: center;
    overflow: scroll;
    /*    text-align: center;*/
}
.card-add-form::-webkit-scrollbar {
    width: 10px; /* Chiều rộng của thanh cuộn */
}

.card-add-form::-webkit-scrollbar-track {
    background: #f1f1f1; /* Màu nền của thanh cuộn */
}

.card-add-form::-webkit-scrollbar-thumb {
    background: #888; /* Màu của thanh cuộn */
    border-radius: 5px; /* Bo tròn góc của thanh cuộn */
}

.card-add-form::-webkit-scrollbar-thumb:hover {
    background: #555; /* Màu của thanh cuộn khi hover */
}
.card-add-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    width: 100%;
    margin-bottom: 15px;
    text-align: left;
}

.form-group input,
.form-group select,
.form-group textarea,
.form-group .upload-input {
    width: calc(100% - 20px); /* Độ rộng của input là 100% trừ đi khoảng cách margin ở cả hai phía */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-upload {
    width: 100%;
    margin-bottom: 15px;
}

.form-upload input {
    width: calc(100% - 20px); /* Độ rộng của input là 100% trừ đi khoảng cách margin ở cả hai phía */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-choice {
    width: 100%;
    text-align: center;
}

.button-choice button {
    width: 20%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.form-group input,
.form-group select,
.form-group textarea,
.form-group .upload-input {
    width: 95%; /* hoặc 100% */
    /* Thiết lập các thuộc tính khác */
}
.form-group label {
    /* Độ rộng của label */
    text-align: right; /* Canh chỉnh văn bản sang phải */
    margin-right: 15px; /* Khoảng cách giữa label và input */
    font-weight: 700;
}
.add-player-close {
    position: absolute; /* Đặt vị trí tuyệt đối */
    top: 0; /* Đặt phần tử ở phía trên cùng của thẻ cha */
    right: 0; /* Đặt phần tử ở phía bên trái của thẻ cha */
    padding: 10px; /* Tăng khoảng cách giữa icon và viền của thẻ cha */
    cursor: pointer; /* Biến con trỏ thành dấu nhấp chuột khi di chuột qua */
    z-index: 9999; /* Đảm bảo phần tử nằm trên các phần tử khác */
    font-size: 32px;
}
.button-choice button.save {
    width: 20%;
    background-color: #4CAF50; /* Màu xanh lá cây */
    color: white; /* Màu chữ trắng */
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px; /* Bo tròn góc */
    transition: transform ease 0.3s; /* Hiệu ứng shadow */
}

.button-choice button.save:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Hiệu ứng shadow khi hover */
    transform: scale(1.1);
}

#add-button
{
    transition: transform ease 0.2s;
    border-radius: 45px;
}
#add-button:hover
{
    background-color: #009926;
    transform: scale(1.1);
}
.success-message {
    display: flex;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    align-items: center;
}
.success-message i {
    margin-right: 5px;
}
